
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genral Info</h2>
<p><button type="button" class="btn btn-success pull-left" onclick="Getrecord()">Add New</button></p>
<table id="tableid"class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>

<div class="modal fade" role="dialog" id="Recordmodal" aria-labelledby="RecordModalLable" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="RecordModalBody"></div>
    </div>

</div>
@section scripts{
   <script type="text/javascript">
    var datatable;
    datatable=   $("#tableid").DataTable({
           "ajax": {
               "url": "/Record/GetAllRecords",
               "type": "GET",
               "dataType":"json",
           },
           "columns":[
               { "data": "id", "autowidth": true },
               { "data": "Name", "autowidth": true },
               { "data": "Address", "autowidth": true },

               {
                   "data": "id", "width":"50px", "render": function (data) {
                       return '<button type="button" class="btn btn-success" onclick="Getrecord('+data+')" >Edit</button>'
                   }
               },
                 {
                   "data": "id", "width":"50px", "render": function (data) {
                       return '<button type="button" class="btn btn-danger" onclick="Delete('+data+')" >Delete</button>'
                   }
               }
           ]
       });
    function Getrecord(id) {
        $.get("/Record/GetRecordPartial", { id: id }, function (res) {
            $("#RecordModalBody").html(res);
            $("#Recordmodal").modal('show');
        })
    }
    function CreatOrUpdate() {
        var modal = $("#Recordmodal");
        var form = $('form[name="RecordForm"]');   
        form.validate();
        if (!form.valid()) {
            return;
        }
        else {
            var data = form.serialize();
            $.post("/Record/CreatOrUpdate/", data, function (res) {
                if (res) {
                    modal.modal('hide');
                    datatable.ajax.reload();
                }
            })

        }
           }


    function Delete(id) {
        if (confirm("Are you sure ?") == true) {
            $.get("/Record/Deletedata", { id: id }, function (res) {
                if (res) {
            datatable.ajax.reload();
                }
               
            })
        }
    }
       </script>
    }